<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syned.crm.workbench.mapper.ActivityRemarkMapper">

    <resultMap id="BaseResultMap" type="cn.syned.crm.workbench.entity.ActivityRemark">
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="noteContent" jdbcType="VARCHAR" property="noteContent"/>
        <result column="createTime" jdbcType="CHAR" property="createTime"/>
        <result column="createBy" jdbcType="VARCHAR" property="createBy"/>
        <result column="editTime" jdbcType="CHAR" property="editTime"/>
        <result column="editBy" jdbcType="VARCHAR" property="editBy"/>
        <result column="editFlag" jdbcType="CHAR" property="editFlag"/>
        <result column="activityId" jdbcType="CHAR" property="activityId"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , noteContent, createTime, createBy, editTime, editBy, editFlag, activityId
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select tbl_activity_remark.id          as id,
               tbl_activity_remark.noteContent as noteContent,
               tbl_activity_remark.createTime  as createTime,
               tbl_user.name                   as createBy,
               tbl_activity_remark.editTime    as editTime,
               user2.name                      as editBy,
               tbl_activity_remark.editFlag    as editFlag,
               tbl_activity_remark.activityId  as activityId
        from tbl_activity_remark
                 left join
             tbl_user on
                 tbl_activity_remark.createBy = tbl_user.id
                 left join
             tbl_user as user2 on tbl_activity_remark.editBy = user2.editBy
        where tbl_activity_remark.id = #{id,jdbcType=CHAR}
        order by tbl_activity_remark.createTime desc;
    </select>

    <select id="selectActivityRemarkByActivityId" resultType="cn.syned.crm.workbench.entity.ActivityRemark">
        select tbl_activity_remark.id          as id,
               tbl_activity_remark.noteContent as noteContent,
               tbl_activity_remark.createTime  as createTime,
               tbl_user.name                   as createBy,
               tbl_activity_remark.editTime    as editTime,
               user2.name                      as editBy,
               tbl_activity_remark.editFlag    as editFlag,
               tbl_activity_remark.activityId  as activityId
        from tbl_activity_remark
                 left join
             tbl_user on
                 tbl_activity_remark.createBy = tbl_user.id
                 left join
             tbl_user as user2 on tbl_activity_remark.editBy = user2.editBy
        where tbl_activity_remark.activityId = #{activityId,jdbcType=CHAR}
        order by tbl_activity_remark.createTime desc;
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tbl_activity_remark
        where id = #{id,jdbcType=CHAR}
    </delete>

    <delete id="deleteByActivityId">
        delete from tbl_activity_remark where 1>1 or tbl_activity_remark.activityId in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.syned.crm.workbench.entity.ActivityRemark"
            useGeneratedKeys="true">
        insert into tbl_activity_remark (noteContent, createTime, createBy,
                                         editTime, editBy, editFlag,
                                         activityId)
        values (#{noteContent,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR},
                #{editTime,jdbcType=CHAR}, #{editBy,jdbcType=VARCHAR}, #{editFlag,jdbcType=CHAR},
                #{activityId,jdbcType=CHAR})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.syned.crm.workbench.entity.ActivityRemark" useGeneratedKeys="true">
        insert into tbl_activity_remark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="noteContent != null">
                noteContent,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="createBy != null">
                createBy,
            </if>
            <if test="editTime != null">
                editTime,
            </if>
            <if test="editBy != null">
                editBy,
            </if>
            <if test="editFlag != null">
                editFlag,
            </if>
            <if test="activityId != null">
                activityId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="noteContent != null">
                #{noteContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                #{editBy,jdbcType=VARCHAR},
            </if>
            <if test="editFlag != null">
                #{editFlag,jdbcType=CHAR},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.syned.crm.workbench.entity.ActivityRemark">
        update tbl_activity_remark
        <set>
            <if test="noteContent != null">
                noteContent = #{noteContent,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                createBy = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="editTime != null">
                editTime = #{editTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                editBy = #{editBy,jdbcType=VARCHAR},
            </if>
            <if test="editFlag != null">
                editFlag = #{editFlag,jdbcType=CHAR},
            </if>
            <if test="activityId != null">
                activityId = #{activityId,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.syned.crm.workbench.entity.ActivityRemark">
        update tbl_activity_remark
        set noteContent = #{noteContent,jdbcType=VARCHAR},
            createTime  = #{createTime,jdbcType=CHAR},
            createBy    = #{createBy,jdbcType=VARCHAR},
            editTime    = #{editTime,jdbcType=CHAR},
            editBy      = #{editBy,jdbcType=VARCHAR},
            editFlag    = #{editFlag,jdbcType=CHAR},
            activityId  = #{activityId,jdbcType=CHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>