<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syned.crm.workbench.mapper.ActivityMapper">

    <resultMap id="BaseResultMap" type="cn.syned.crm.workbench.entity.Activity">
        <!--@mbg.generated-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="owner" jdbcType="CHAR" property="owner"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="startDate" jdbcType="CHAR" property="startDate"/>
        <result column="endDate" jdbcType="CHAR" property="endDate"/>
        <result column="cost" jdbcType="VARCHAR" property="cost"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="createTime" jdbcType="CHAR" property="createTime"/>
        <result column="createBy" jdbcType="VARCHAR" property="createBy"/>
        <result column="editTime" jdbcType="CHAR" property="editTime"/>
        <result column="editBy" jdbcType="VARCHAR" property="editBy"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `owner`, `name`, startDate, endDate, cost, description, createTime, createBy,
        editTime, editBy
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select tbl_activity.id          as id,
               tbl_user.name            as owner,
               tbl_activity.name        as name,
               tbl_activity.startDate   as startDate,
               tbl_activity.endDate     as endDate,
               tbl_activity.cost        as cost,
               tbl_activity.description as description,
               tbl_activity.createTime  as createTime,
               tbl_activity.createBy    as createBy,
               tbl_activity.editTime    as editTime,
               tbl_activity.editBy      as editBy
        from tbl_activity
                 left join tbl_user
                           on tbl_activity.owner = tbl_user.id
        WHERE tbl_activity.id = #{id}
    </select>

    <select id="selectActivityList" resultType="cn.syned.crm.workbench.entity.Activity">
        select tbl_activity.id as id,
        tbl_user.name as owner,
        tbl_activity.name as name,
        tbl_activity.startDate as startDate,
        tbl_activity.endDate as endDate,
        tbl_activity.cost as cost,
        tbl_activity.description as description,
        tbl_activity.createTime as createTime,
        tbl_activity.createBy as createBy,
        tbl_activity.editTime as editTime,
        tbl_activity.editBy as editBy
        from tbl_activity
        left join tbl_user
        on tbl_activity.owner = tbl_user.id
        <where>
            <if test="name != null and name != ''">
                and tbl_activity.name like "%" #{name} "%"
            </if>
            <if test="owner != null and owner != ''">
                and tbl_user.name like "%" #{owner} "%"
            </if>
            <if test="startDate != null and startDate != ''">
                and tbl_activity.startDate &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and tbl_activity.endDate &lt;= #{endDate}
            </if>
        </where>
        order by tbl_activity.createTime desc
    </select>

    <select id="selectActivityListNum" resultType="java.lang.Integer">
        select
        count(tbl_activity.id)
        from tbl_activity
        left join tbl_user
        on tbl_activity.owner = tbl_user.id
        <where>
            <if test="name != null and name != ''">
                and tbl_activity.name like "%" #{name} "%"
            </if>
            <if test="owner != null and owner != ''">
                and tbl_user.name like "%" #{owner} "%"
            </if>
            <if test="startDate != null and startDate != ''">
                and tbl_activity.startDate &gt;=#{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                and tbl_activity.endDate &lt;=#{endDate}
            </if>
        </where>
        order by tbl_activity.createTime desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from tbl_activity
        where id = #{id,jdbcType=CHAR}
    </delete>

    <delete id="deleteByPrimaryKeys">
        delete from tbl_activity where 1>1 or id in
        <foreach collection="array" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.syned.crm.workbench.entity.Activity"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tbl_activity (id,`owner`, `name`, startDate,
        endDate, cost, description,
        createTime, createBy, editTime,
        editBy)
        values (#{id,jdbcType=CHAR},#{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{startDate,jdbcType=CHAR},
        #{endDate,jdbcType=CHAR}, #{cost,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR},
        #{editBy,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.syned.crm.workbench.entity.Activity"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tbl_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                `id`,
            </if>
            <if test="owner != null and owner != ''">
                `owner`,
            </if>
            <if test="name != null and name != ''">
                `name`,
            </if>
            <if test="startDate != null and startDate != ''">
                startDate,
            </if>
            <if test="endDate != null and endDate != ''">
                endDate,
            </if>
            <if test="cost != null and cost != ''">
                cost,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="createTime != null and createTime != ''">
                createTime,
            </if>
            <if test="createBy != null and createBy != ''">
                createBy,
            </if>
            <if test="editTime != null and editTime != ''">
                editTime,
            </if>
            <if test="editBy != null and editBy != ''">
                editBy,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=CHAR},
            </if>
            <if test="owner != null and owner != ''">
                #{owner,jdbcType=CHAR},
            </if>
            <if test="name != null and name != ''">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null and startDate != ''">
                #{startDate,jdbcType=CHAR},
            </if>
            <if test="endDate != null and endDate != ''">
                #{endDate,jdbcType=CHAR},
            </if>
            <if test="cost != null and cost != ''">
                #{cost,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="createBy != null and createBy != ''">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="editTime != null and editTime != ''">
                #{editTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null and editBy != ''">
                #{editBy,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.syned.crm.workbench.entity.Activity">
        <!--@mbg.generated-->
        update tbl_activity
        <set>
            <if test="owner != null and owner != ''">
                owner = #{owner,jdbcType=CHAR},
            </if>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null and startDate != ''">
                startDate = #{startDate,jdbcType=CHAR},
            </if>
            <if test="endDate != null and endDate != ''">
                endDate = #{endDate,jdbcType=CHAR},
            </if>
            <if test="cost != null and cost != ''">
                cost = #{cost,jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null and createTime != ''">
                createTime = #{createTime,jdbcType=CHAR},
            </if>
            <if test="createBy != null and createBy != ''">
                createBy = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="editTime != null and editTime != ''">
                editTime = #{editTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null and editBy != ''">
                editBy = #{editBy,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="cn.syned.crm.workbench.entity.Activity">
        <!--@mbg.generated-->
        update tbl_activity
        set `owner` = #{owner,jdbcType=CHAR},
        `name` = #{name,jdbcType=VARCHAR},
        startDate = #{startDate,jdbcType=CHAR},
        endDate = #{endDate,jdbcType=CHAR},
        cost = #{cost,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        createTime = #{createTime,jdbcType=CHAR},
        createBy = #{createBy,jdbcType=VARCHAR},
        editTime = #{editTime,jdbcType=CHAR},
        editBy = #{editBy,jdbcType=VARCHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>