<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syned.crm.workbench.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="cn.syned.crm.workbench.entity.Customer">
        <!--@mbg.generated-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="owner" jdbcType="CHAR" property="owner"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="website" jdbcType="VARCHAR" property="website"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="createBy" jdbcType="VARCHAR" property="createBy"/>
        <result column="createTime" jdbcType="CHAR" property="createTime"/>
        <result column="editBy" jdbcType="VARCHAR" property="editBy"/>
        <result column="editTime" jdbcType="CHAR" property="editTime"/>
        <result column="contactSummary" jdbcType="VARCHAR" property="contactSummary"/>
        <result column="nextContactTime" jdbcType="CHAR" property="nextContactTime"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `owner`, `name`, website, phone, createBy, createTime, editBy, editTime, contactSummary,
        nextContactTime, description, address
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tbl_customer
        where id = #{id,jdbcType=CHAR}
    </select>

    <select id="selectCustomerByName" resultType="cn.syned.crm.workbench.entity.Customer">
        select
        <include refid="Base_Column_List"/>
        from tbl_customer where tbl_customer.name = #{name}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from tbl_customer
        where id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.syned.crm.workbench.entity.Customer"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tbl_customer (`owner`, `name`, website,
        phone, createBy, createTime,
        editBy, editTime, contactSummary,
        nextContactTime, description, address
        )
        values (#{owner,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR},
        #{editBy,jdbcType=VARCHAR}, #{editTime,jdbcType=CHAR}, #{contactSummary,jdbcType=VARCHAR},
        #{nextContactTime,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.syned.crm.workbench.entity.Customer"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tbl_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `id`,
            </if>
            <if test="owner != null">
                `owner`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="website != null">
                website,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="createBy != null">
                createBy,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="editBy != null">
                editBy,
            </if>
            <if test="editTime != null">
                editTime,
            </if>
            <if test="contactSummary != null">
                contactSummary,
            </if>
            <if test="nextContactTime != null">
                nextContactTime,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="address != null">
                address,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=CHAR},
            </if>
            <if test="owner != null">
                #{owner,jdbcType=CHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="website != null">
                #{website,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                #{editBy,jdbcType=VARCHAR},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=CHAR},
            </if>
            <if test="contactSummary != null">
                #{contactSummary,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                #{nextContactTime,jdbcType=CHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.syned.crm.workbench.entity.Customer">
        <!--@mbg.generated-->
        update tbl_customer
        <set>
            <if test="owner != null">
                `owner` = #{owner,jdbcType=CHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="website != null">
                website = #{website,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                createBy = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=CHAR},
            </if>
            <if test="editBy != null">
                editBy = #{editBy,jdbcType=VARCHAR},
            </if>
            <if test="editTime != null">
                editTime = #{editTime,jdbcType=CHAR},
            </if>
            <if test="contactSummary != null">
                contactSummary = #{contactSummary,jdbcType=VARCHAR},
            </if>
            <if test="nextContactTime != null">
                nextContactTime = #{nextContactTime,jdbcType=CHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.syned.crm.workbench.entity.Customer">
        <!--@mbg.generated-->
        update tbl_customer
        set `owner` = #{owner,jdbcType=CHAR},
        `name` = #{name,jdbcType=VARCHAR},
        website = #{website,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR},
        createBy = #{createBy,jdbcType=VARCHAR},
        createTime = #{createTime,jdbcType=CHAR},
        editBy = #{editBy,jdbcType=VARCHAR},
        editTime = #{editTime,jdbcType=CHAR},
        contactSummary = #{contactSummary,jdbcType=VARCHAR},
        nextContactTime = #{nextContactTime,jdbcType=CHAR},
        description = #{description,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>