<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.syned.crm.workbench.mapper.TranHistoryMapper">
    <resultMap id="BaseResultMap" type="cn.syned.crm.workbench.entity.TranHistory">
        <!--@mbg.generated-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="stage" jdbcType="VARCHAR" property="stage"/>
        <result column="money" jdbcType="VARCHAR" property="money"/>
        <result column="expectedDate" jdbcType="CHAR" property="expectedDate"/>
        <result column="createTime" jdbcType="CHAR" property="createTime"/>
        <result column="createBy" jdbcType="VARCHAR" property="createBy"/>
        <result column="tranId" jdbcType="CHAR" property="tranId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, stage, money, expectedDate, createTime, createBy, tranId
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from tbl_tran_history
        where id = #{id,jdbcType=CHAR}
    </select>

    <select id="selectByTranId" resultType="cn.syned.crm.workbench.entity.TranHistory">
        select tbl_tran_history.id           as id,
               tbl_dic_value.text            as stage,
               tbl_tran_history.money        as money,
               tbl_tran_history.expectedDate as expectedDate,
               tbl_tran_history.createTime   as createTime,
               tbl_user.name                 as createBy,
               tbl_tran.name                 as tranId
        from tbl_tran_history
                 left join tbl_dic_value on tbl_tran_history.stage = tbl_dic_value.id
                 left join tbl_user on tbl_tran_history.createBy = tbl_user.id
                 left join tbl_tran on tbl_tran_history.tranId = tbl_tran.id
        where tbl_tran_history.tranId = #{tranId}
        order by tbl_tran_history.createTime
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from tbl_tran_history
        where id = #{id,jdbcType=CHAR}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.syned.crm.workbench.entity.TranHistory"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tbl_tran_history (stage, money, expectedDate,
        createTime, createBy, tranId
        )
        values (#{stage,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{expectedDate,jdbcType=CHAR},
        #{createTime,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, #{tranId,jdbcType=CHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="cn.syned.crm.workbench.entity.TranHistory" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into tbl_tran_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="stage != null">
                stage,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="expectedDate != null">
                expectedDate,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="createBy != null">
                createBy,
            </if>
            <if test="tranId != null">
                tranId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=CHAR},
            </if>
            <if test="stage != null">
                #{stage,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=VARCHAR},
            </if>
            <if test="expectedDate != null">
                #{expectedDate,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="tranId != null">
                #{tranId,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.syned.crm.workbench.entity.TranHistory">
        <!--@mbg.generated-->
        update tbl_tran_history
        <set>
            <if test="stage != null">
                stage = #{stage,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=VARCHAR},
            </if>
            <if test="expectedDate != null">
                expectedDate = #{expectedDate,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                createBy = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="tranId != null">
                tranId = #{tranId,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.syned.crm.workbench.entity.TranHistory">
        <!--@mbg.generated-->
        update tbl_tran_history
        set stage = #{stage,jdbcType=VARCHAR},
        money = #{money,jdbcType=VARCHAR},
        expectedDate = #{expectedDate,jdbcType=CHAR},
        createTime = #{createTime,jdbcType=CHAR},
        createBy = #{createBy,jdbcType=VARCHAR},
        tranId = #{tranId,jdbcType=CHAR}
        where id = #{id,jdbcType=CHAR}
    </update>
</mapper>